datasets==2.12.0
ndjson==0.3.1
pandas==1.5.3
spacy==3.7.4
accelerate==0.27.2
transformers==4.38.1
torch==2.1.2
einops==0.7.0
huggingface_hub==0.20.3
xformers==0.0.23.post1
scikit-learn==1.4.1.post1
seaborn==0.13.0
plotly==5.18.0
optimum==1.17.1 # for quantization
auto-gptq==0.7.0 # for quantization
vllm==0.3.2 # for vllm pipeline
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl
